@charset "utf-8";
/* CSS Document */
body{
	width:100%;
/*	background-color:#666666; */
	background:url(../../images/back3.jpg) no-repeat;
	background-position:50% 50%;
	background-size:100%;
	color:#FFF;
	line-height:35px;
}
